<!DOCTYPE html>
<html lang="en">
<head>
  <title>Flash News</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body> 

<div class="container">
    {% for key, value in json_data.items() %}
    <br/>
    
    <div class="well">
      
      <h4><span class="glyphicon glyphicon-link"></span><a href={{value[0]}}>{{key}}</a></h4>
      <h4>{{value[1]}}</h4><h5><a href={{value[0]}}>(Real Full Article)</a></h5>
    
    </div>
    <br/>
    {% endfor %}
</div>

</body>
</html>
