<!DOCTYPE html>
<html>
<head>
  <title>All News in One</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <center><h1 style="color:blue;">All News in One</h1></center>
  <br><br>
  <h2 style="color:crimson">Hello {{username}}, </h2>
  <br>
  <h2 style="color:forestgreen">Select a News Provider below to get the headlines</h2>
  <br>
  <form method = "GET">
  <div class="dropdown">
    <button type="button" style="width:1000px" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
      Select a News Provider
    </button>
    <div class="dropdown-menu">
      <button class="dropdown-item" style="width:1000px" type="submit" formaction="/hacker_news">Hacker News</button>
      <button class="dropdown-item" style="width:1000px" type="submit" formaction="/indian_express">Indian Express</button>
    </div>
    
  </div>
  </form>
</div>

</body>
</html>
