<!DOCTYPE html>
<html>
<head>
  <title>All News in One</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="http://code.jquery.com/jquery-1.8.2.js"></script> 

  <style>

  #loader {  
    position: fixed;  
    left: 0px;  
    top: 0px;  
    width: 100%;  
    height: 100%;  
    z-index: 9999;  
    background: url("{{ url_for('static', path='/loader.gif')}}") 50% 50% no-repeat rgb(249,249,249);  
}  
  </style>
</head>
<body>

<div class="container">
  <div id="logs-link" class="text-right">
    <h3><a href="/logs"  class="text-info">Check Logs</a></h3>
  </div>
  <center><h1 style="color:blue;">All News in One</h1></center>
  <br><br>
  <h2 style="color:crimson">Hello {{username}}, </h2>
  <br>
  <h2 style="color:forestgreen">Select a News Provider below to get the headlines</h2>
  <br>
  <form method = "GET">
  <div class="dropdown">
    <button type="button" style="width:1000px" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
      Select a News Provider
    </button>
    <div class="dropdown-menu">
      <button class="dropdown-item" name="hacker-news" id="hacker-news" style="width:1000px" type="submit" formaction="/hacker_news">Hacker News</button>
      <button class="dropdown-item" name="indian-express" id="indian-express" style="width:1000px" type="submit" formaction="/indian_express">Indian Express</button>
      <button class="dropdown-item" name="news-18" id="news-18" style="width:1000px" type="submit" formaction="/news_18">News 18</button>
    </div>
    
  </div>
  </form>
</div>
<div id="loader"></div>  
<script type="text/javascript">
    $(window).load(function() {
      document.getElementById('loader').style.display = 'none';
    })
</script>
<script type="text/javascript">  
  $('#hacker-news').click(function() {  
    // $("#loader").fadeOut(1000);  
    document.getElementById('loader').style.display = "inline";
    
  });
  </script>
<script type="text/javascript">  
  $('#indian-express').click(function() {  
    // $("#loader").fadeOut(1000);  
    document.getElementById('loader').style.display = "inline";

  });
  </script>
  <script type="text/javascript">  
  $('#news-18').click(function() {  
    // $("#loader").fadeOut(1000);  
    document.getElementById('loader').style.display = "inline";
  });
</script>
</body>
</html>
